.container{
    width: 100vh;
    display: flex;
    flex-direction: row;
}
.numb1{
    width: 7rem;
    height: 7rem;
    background: #F09300;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 4em;
}
.numb2{
    width: 7rem;
    height: 7rem;
    background: #2178AE;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 4rem;
}
.one{
    color: #FFF;
    font-family: Inter;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    padding-top: 1rem;
}
.two{
    color: #FFF;
    font-family: Inter;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    padding-top: 1rem;
}
.titulo1{
    color: #000;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    margin-left: 2rem;
}
.titulo2{
    color: #000;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    margin-left: 2rem;
}
.container2{
    width: 100vh;
    display: flex;
    flex-direction: row;
}
.primer{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}
.colunas{
    width: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: 4em;
    justify-content: space-between;

}
.blc1{
    width: 15rem;
    height: 25rem;
    color: #000;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}
.frase1{
    width: 13rem;
    height: 4rem;
    color: #000;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 400;
    margin-top: 15rem;
}
.blc2{
    width: 15rem;
    height: 19rem;
    color: #000;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    padding-left: 0.400rem;
    background: #FAC92C;
    backdrop-filter: blur(2px);
    margin-top: 1rem;
}
.coluna2{
    width: 100vh;
    display: flex;
    flex-direction: column;
}
.quadro1{
    width: 15rem;
    height: 15rem;
    border-radius: 3.125rem;
    background: #E8D9EC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    margin-top: 1rem;
}
.quadro2{
    width: 15rem;
    height: 15rem;
    border-radius: 3.125rem;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 2rem;
    margin-top: 2rem;
}
.second{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
}
.cor2{
    width: 16rem;
    height: 22rem;
    background: #FFDADF;
    backdrop-filter: blur(2px);
    margin-top: 5rem;
    margin-left: 2rem;
}
.blc3{
    width: 15rem;
    height: 25rem;
    padding-left: 0.600rem;
    color: #000;
    font-family: Inter;
    font-size: 0.9375rem;
    font-weight: 400;
}
.coluna3{
    width: 100vh;
    display: flex;
    flex-direction: column;
}
.blc4{
    width: 15rem;
    height: 24rem;
    color: #000;
    text-align: justify;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
}
.frase2{
    width: 13rem;
    height: 4rem;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    margin-left: 1rem;
}
.cor3{
    margin-top: 3rem;
    width: 16rem;
    height: 12rem;
    background: #FEBBA1;
    backdrop-filter: blur(2px);
}
.blc5{
    padding-left: 0.200rem;
    width: 15rem;
    height: 12rem;
    color: #000;
    text-align: justify;
    font-family: Inter;
    font-size: 0.9375rem;   
    font-weight: 400;
    padding-left: 0.500rem;
}
.coluna4{
    width: 100vh;
    display: flex;
    flex-direction: column;
}
.cor4{
    width: 16rem;
    height: 22rem;
    background: #CBFCD2;
    backdrop-filter: blur(2px);
    margin-top: 1rem;
}
.blc6{
    width: 15rem;
    height: 24rem;
    color: #000;
    text-align: justify;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    padding-left: 0.500rem;
}
.quadro3{
    margin-top: 3rem;
    width: 15rem;
    height: 15rem;
    border-radius: 3.125rem;
    background: #E3CDB1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
.quadro4{
    width: 15rem;
    height: 15rem;
    border-radius: 3.125rem;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 2rem;
    margin-top: 2rem;
}