@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
}

.numb1{
    width: 7rem;
    height: 7rem;
    background: #F09300;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 4em;
}

.numb2{
    width: 7rem;
    height: 7rem;
    background: #2178AE;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 4rem;
}
.one{
    color: #FFF;
    font-family: Inter;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    padding-top: 1rem;
}
.two{
    color: #FFF;
    font-family: Inter;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    padding-top: 1rem;
}

.titulo1{
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 1.9rem;
    font-style: normal;
    font-weight: 400;
    margin-left: 2rem;
}

.titulo2{
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 1.9rem;
    font-style: normal;
    font-weight: 400;
    margin-left: 2rem;
}

.container2{
    width: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
}

.primer{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.colunas{
    display: flex;
    flex-direction: column;
    margin-left: 4em;
    justify-content: space-between;
    margin-right: 3em;
    text-align: justify;
}

.blc1{
    width: 15rem;
    height: 100%;
    color: #000;
    font-family:'Tomorrow', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    word-spacing: -3px;
}

.frase1{
    width: 13rem;
    height: 100%;
    color: #000;
    text-align: center;
    font-family: 'Ysabeau Office', sans-serif;
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    margin-left: 1rem;
    margin-top: 1.5em;
}

.blc2{
    width: 15rem;
    height: 100%;
    color: #000;
    font-family: 'Tomorrow', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    padding: 0.400rem;
    background: #FAC92C;
    backdrop-filter: blur(2px);
    margin-top: 1.5rem;
    word-spacing: -4.50px;
}

.coluna2{
    display: flex;
    flex-direction: column;
    margin-right: 4em;
    text-align: justify;
}

.quadro1{
    width: 15rem;
    height: 15rem;
    border-radius: 3.125rem;
    background: #E8D9EC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    margin-top: .5rem;
    margin-bottom: .5em;
}

.quadro2{
    width: 15rem;
    height: 15rem;
    border-radius: 3.125rem;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 2rem;
    margin-top: 2rem;
    background-image: url(../../img/quiz1/terra_negra.jpg);
    background-size: 100%;
}

.second{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
}

.blc3{
    width: 16rem;
    height: 100%;
    background: #FFDADF;
    backdrop-filter: blur(2px);
    padding: 0.600rem;
    color: #000;
    font-family: 'Tomorrow', sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    margin-top: 4em;
}

.coluna3{
    display: flex;
    flex-direction: column;
    margin-left: 3em;
    margin-right: 2em;
    text-align: justify;
}

.blc4{
    width: 15rem;
    color: #000;
    text-align: justify;
    font-family: 'Tomorrow', sans-serif;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
}

.frase2{
    width: 13rem;
    color: #000;
    text-align: center;
    font-family: 'Ysabeau Office', sans-serif;
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    margin-left: 1rem;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.blc5{
    width: 15rem;
    height: 100%;
    color: #000;
    text-align: justify;
    font-family: 'Tomorrow', sans-serif;
    font-size: 0.9375rem;   
    font-weight: 400;
    background: #FEBBA1;
    backdrop-filter: blur(2px);
    padding: 0.400rem;
}

.coluna4{
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    margin-right: 3em;
    text-align: justify;
}

.blc6{
    width: 15rem;
    height: 100%;
    color: #000;
    text-align: justify;
    font-family: 'Tomorrow', sans-serif;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    padding: 0.500rem;
    background: #CBFCD2;
    backdrop-filter: blur(2px);
    word-spacing: -3px;
}

.quadro3{
    margin-top: 3rem;
    width: 15rem;
    height: 15rem;
    border-radius: 3.125rem;
    background: #E3CDB1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.quadro4{
    width: 15rem;
    height: 15rem;
    border-radius: 3.125rem;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 2rem;
    margin-top: 2rem;
    background-image: url(../../img/quiz/livro1.jpg);
    background-size: 100%;
}
