
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #A4CDFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questions-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.question {
    font-size: 20px;
    font-weight: bold;
    text-align: start;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    text-align: center;
}

.answers-container {
    width: 100%;
    display: grid;
    gap: 16px;
    padding: 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.answer:disabled {
    cursor: not-allowed;
}

.next-question {
    margin-top: 32px;
}

.button {
    background-color: #F09300;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    width: 100%s;
    padding: 3vh;
    border-radius: 25px;
    cursor: pointer;
    border: 0;
    transition: filter 0.1s;

}

.button:not(:disabled):hover {
    filter: brightness(0.9);
}

/* Finish game */
.final-message {
    font-size: 20px;
    text-align: center;
}

.final-message span {
    display: block;
    margin-top: 8px;
}

/* General styles */
.hide {
    display: none;
}

.correct {
    background-color: hsl(193, 100%, 87%);
    border: 2px solid #F09300;
    color: #F09300;
}

.incorrect {
    background-color: hsl(193, 100%, 87%);
    border: 2px solid #02badf;
    color: #02badf;

}